@import "tailwindcss";

@theme {
  --color-primary: #f97316;
  --color-secondary: #0f172a;
  --color-background: #f8fafc;

  /* CRÉATION DES CLASSES DE POLICES  */
  --font-inter: 'Inter', sans-serif;
  --font-manrope: 'Manrope', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-secondary);
}