@import "tailwindcss";

@theme {
  --color-primary: #£97316; /*couleur orange abricot*/
  --color-secondary: #0£172a; /*bleu très foncé pour texte*/
  --color-background: #£8£a£c; /* gris très clair */
}

body {
  background-color: var(--color-background);
  color: var(--color-secondary);
}
